@import "~react-image-gallery/styles/css/image-gallery.css";
.image-gallery-left-nav, .image-gallery-right-nav {
    padding: 50px 10px;
    top: 20%;
    transform: translateY(-50%);
}
.image-gallery-left-nav .image-gallery-svg, .image-gallery-right-nav .image-gallery-svg {
    height: 80px;
    width: 40px;
}
.home-cards-cn{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 50%;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
.home-cards{
   
    width: 250px;
    background-color: white;
    height: 420px;
    margin-bottom: 20px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.home-cards img{
   
   width: initial;
   cursor: pointer;
}
.home-cards button{
   
    border: none;
    background-color: unset;
    margin: 10px 0px 10px 0px;
text-align: left;
color: teal;
cursor: pointer;
 }
 .home-cards button:hover{
     color: orange;
   text-decoration: underline;
   
 }