.product-cn {
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
    height: 400px;
    justify-content: space-around;
    border: 1px #ddd solid;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.product-cn .product-img-cn {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-cn .product-img-cn img {
    width: inherit;
}
.pagination-cn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title-and-price-cn{
    margin: 10px;
}