nav form label input.searcher{
    width: 400px;
    height: 30px;
    border-radius: 5px;
    border: none;
}
nav .navbar-ul .eachCategory-cn {
    cursor: pointer;
  }
nav .nav-logo, .navbar-ul li a{
    color: #fff;
    text-decoration: none;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
}
.navbar-ul{
    display: flex;
    flex-direction: row;
    align-items: center;
   list-style: none;
}
.navbar-ul li{
    margin-right: 40px;
    margin-right: 40px;
    padding: 10px;
}
.navbar-ul .eachCategory-cn .eachCategory .category-li:hover{
    margin: 0;
   background-color: #34455a;
}

.eachCategory{
    position: absolute;
    padding: 0;
    background-color: #232f3e;
    list-style: none;
    text-align: left;
    margin-top: 10px;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 6;
}
