@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

nav {
  background-color: #232f3e;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

nav.pagination {
  background-color: unset;
}

#category {
  display: flex;
  flex-direction: row;
  margin: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

#home {
  background-color: #EAEDED;
  height: 100vmax;
}

#sell {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

#signin-cn {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#signin-cn .form-cn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  height: 300px;
}

#signin-cn .form-cn, input {
  border: 1px #ddd solid;
  border-radius: 5px;
}

#signin-cn .form-cn form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 70%;
}

#signin-cn .form-cn form label {
  display: flex;
  flex-direction: column;
}

#signin-cn .form-cn form .submit-btn {
  background: #f0c14b;
  height: 30px;
}

button {
  cursor: pointer;
}

.category-title {
  margin: 20px;
}